p{
  font-size: 16px;
  color:white;
}

.container{
    color: white;
}

#headshot {
  float: left;
  width: 400px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

body  {
    background-image: url("../images/backdrop.jpg");
}

.parallax {
    /* The image used */
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.programExperience{
    background-image: url("../images/coding.png");
}

.workExperience{
  background-image: url("../images/work.jpeg");
}

/*.cardEffect{
  opacity: 0;
}
*/
.portfolioBlurb{
  margin:20px;
}

.aboutmeBlurb{
  font-size: 20px;
}

.jobTitle{
  text-decoration: underline;
}

#connect-with-me-area {
  width: 100%;

  /* Box-model */
  padding: 30px 30px 43px;

  /* Positioning */
  margin-top: 32px;

  /* Visual */
  background-color: #fff;
}

.connect-with-me-header {
  /* Positioning */
  margin-bottom: 15px;
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 25px;
  font-weight: bold;
  color: #375a7f;
}

.connect-with-me-photo {
  width: 55px;

  /* Box-model */
  height: 55px;
}

.connect-with-me-photo:hover {
    border-color: #375a7f;
    border-style: solid;
    border-width: 7px;
}

#email{
  background-repeat: no-repeat; 
  background-attachment: scroll;
  background-size: 16px 18px; 
  background-position: 98% 50%; 
  cursor: auto;
}

/*.portfolioHeader h1{
  color: white;
}*/






